<mat-toolbar class="nav-bar">
  <span routerLink="/">Feature Toggle Examples</span>
  <div>
    @if (isNewFeatureEnabled()) {
      <button matButton [routerLink]="['new-feature']">
        {{ FeatureToggleEnum.newFeature }}
      </button>
    }
    <button matButton [routerLink]="['route-guard-block']">
      {{ FeatureToggleEnum.routeGuardBlock }}
    </button>
  </div>
</mat-toolbar>
<mat-drawer-container autosize>
  <mat-drawer class="sidenav-container" mode="side" [opened]="true">
    <mat-card class="sidenav-card">
      <mat-card-content class="sidenav-card-content">
        <h2>Toggles</h2>

        @for (feature of features; track $index) {
          <mat-slide-toggle
            [checked]="isFeatureEnabled(feature)"
            [hideIcon]="true"
            (change)="updateFeatureToggle(feature, $event.checked)"
          >
            {{ feature }}
          </mat-slide-toggle>
        }
      </mat-card-content>
    </mat-card>
  </mat-drawer>

  <router-outlet />

</mat-drawer-container>
<main>

</main>
